---
title: Tomasz Sułkowski – programista i kierowca driftingowy
layout: default
permalink: /pl/home/
lang: pl
description: "Tomasz Sułkowski – programista .NET i kierowca driftingowy. Kod, samochody i blog o autonomicznym prowadzeniu."
---

<div class="home">
  <h1 class="page-heading home-title"><span class="home-title__accent">Kodowanie</span> oraz <span class="home-title__accent">Prowadzenie</span></h1>

  <p>Witaj w moim świecie innowacji i adrenaliny, gdzie precyzja kodu łączy emocje toru wyścigowego.</p>

  <h2 class="choose-heading">Czym jesteś zainteresowany?</h2>

  {%- capture choose_left %}Od pierwszych kroków w programowaniu na 8-bitowym Atari, aż po prowadzenie komercyjnych projektów, zawsze fascynowało mnie przekształcanie złożonych problemów w eleganckie oraz efektywne rozwiązania. Ta chęć innowacji znalazła odzwierciedlenie w moim analitycznym podejściu do sportów motorowych, gdzie pasja do wyczynowej jazdy napędza pogoń za celem.{% endcapture -%}
  {%- capture choose_center %}Przez ponad dwie dekady pracy jako programista nauczyłem się tworzyć solidne i skalowalne systemy, wykorzystując ekosystem .NET, architektury mikroserwisowe oraz nowoczesne techniki integracyjne. Każda linia kodu powstaje z tą samą precyzją i pasją, która towarzyszy mi również na torze.{% endcapture -%}
  {%- capture choose_right %}Jako entuzjasta wyścigów i driftu, od zawsze zgłębiam sztukę kontroli nad samochodem. Moja przygoda rozpoczęła się amatorskimi rajdami w tylnonapędowej Ładzie, po których moja rywalizacja i ciężka praca szybko przerodziły się w sukcesy – od mistrzostw regionalnych po uznane zawody driftowe w całym kraju. Ta sama determinacja, elastyczność i nieustanne dążenie do doskonałości, które kształtują moją karierę programisty, przekładają się również na moje osiągnięcia za kierownicą.{% endcapture -%}
  {% include choose.html label_left="Programista" label_right="Kierowca" href_left="/pl/developer/" href_right="/pl/driver/" more="Czytaj więcej..." alt_left="Tomasz Sułkowski w garniturze – programista" alt_right="Tomasz Sułkowski w kombinezonie i kasku – kierowca driftingowy" text_left=choose_left text_center=choose_center text_right=choose_right %}

  <p>W świecie, w którym precyzja ma najwyższe znaczenie, łączę innowacyjne rozwiązania programistyczne z dynamicznymi osiągnięciami sportów motorowych. Niezależnie od tego, czy buduję zaawansowane architektury zaplecza systemu, czy doskonalę perfekcyjną technikę jazdy, wierzę, że strategiczna wizja, przemyślane ryzyko i ciągła nauka są kluczem do sukcesu.</p>

  <br>
  <hr>

  <ul class="post-list">
    {%- for post in site.posts %}
      {%- if post.lang == page.lang and post.public %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>

      <div class="post-meta">{% include post_date.html date=post.date lang=post.lang %}</div>

      <div class="post-excerpt">
        {{ post.excerpt }}
        <p>
          <a class="post-link" href="{{ post.url | relative_url }}">Więcej &raquo;</a>
        </p>
      </div>
    </li>
      {%- endif %}
    {%- endfor %}
  </ul>

</div>
