---
title: Home
layout: default
language: pl
permalink: /:language/home/
---
 
<div class="home">
  <!-- <a class="rss-link" href="/{{ page.language }}/feed.xml">RSS Feed</a> -->
  <h1 class="page-heading">Kodowanie i Jazda</h1>

  <p>Pasjonuje się programowaniem jak i prowadzeniem samochodów. Programowanie oraz analiza moich zachowań pozwala mi na dostrzeganie efektywniejszych sposobów na doskonalenie mojej jazdy, co w zamian skutkuje coraz to lepszymi algorytmami prowadzenia autem.</p>
  <p>Rozwojem oprogramowania oraz ściganiem zajmuje się od wielu lat. Niedawny boom na autonomiczne pojazdy jest dla mnie idealnym połączeniem tych dwóch światów, przez co poświęcam mu każdą wolną chwile i chce być w tym najlepszy.</p>
  <p>Na tym blogu będę się dzielić swoimi doświadczeniami z programowania jak i efektywnej jazdy. Miłej lektury!</p>
  
  <ul class="post-list">
    {% for post in site.posts %}
		{% if post.language == page.language %}
		  <li>
			<h2>
			  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			
			<div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>

			<div class="post-excerpt">
			  {{ post.excerpt }}
			  <p>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Więcej &raquo;</a>
			  </p>
			</div>
		  </li>
		{% endif %}
    {% endfor %}
  </ul>

</div>
