<header class="header">
  <div class="wrapper">
    <a class="site-title" href="/index.html">{{ site.title }}</a>
	<div class="site-languages">
		{% for lang in site.languages %}
			{% if page.lang == lang %}
			  <a class="{{ lang }} active"></a>
			{% endif %}
		{% endfor %}
		{% for lang in site.languages %}
			{% if page.lang != lang %}
			  <a href="{{ site.baseurl }}/{{ lang }}/home" class="{{ lang }} inactive"></a>
			{% endif %}
		{% endfor %}
	</div>
    <nav class="site-nav">
      {% for sitepage in site.pages %}
        {% if sitepage.title and sitepage.public %}
        <a class="page-link" href="{{ sitepage.url | prepend: site.baseurl }}">{{ sitepage.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>

<div class="sub-header">
	<div class="wrapper">
		<!-- <a href="http://www.mikinka-projekt.com/" target="blank">
			<img src="/assets/images/partners/mikinka1.png">
		</a> -->
	</div>
</div>