<header class="header">
  <div class="wrapper">
    <a class="site-title" href="/index.html">{{ site.title }}</a>
	<div class="site-languages">
		{% for locale in site.languages %}
			{% if page.locale == locale %}
			  <a class="{{ locale }} active"></a>
			{% endif %}
		{% endfor %}
		{% for locale in site.languages %}
			{% if page.locale != locale %}
			  <a href="{{ site.baseurl }}/{{ locale }}/home" class="{{ locale }} inactive"></a>
			{% endif %}
		{% endfor %}
	</div>
    <nav class="site-nav">
      {% for sitepage in site.pages %}
        {% if sitepage.title and sitepage.public and sitepage.locale == page.locale%}
        <a class="page-link" href="{{ sitepage.url | prepend: site.baseurl }}">{{ sitepage.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>

<div class="sub-header">
	<div class="wrapper">
		<!-- <a href="http://www.mikinka-projekt.com/" target="blank">
			<img src="/assets/images/partners/mikinka1.png">
		</a> -->
	</div>
</div>