<div class="col-box col-box-author">
	<div class="col-box-title name contact-button">
    {{ site.author }} 
    <br>
    <a class="contact-button" href="mailto:{{ site.email }}">{{ site.email }}</a>
  </div>
	<img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
	<p>{{ site.profile }}</p>
  <!--
  <p class="contact">
	{% if site.email %}
    <a href="mailto:{{ site.email }}">Email</a>
    {% endif %}
	{% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
  </p>
  -->
</div>
 
<div class="col-box">
  <p>
	LinkedIn:
  <a href="https://www.linkedin.com/in/tomaszsulkowski">Tomasz Sułkowski</a>
  </p>
</div>

<div class="col-box">
  <div class="col-box-title">Blog</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
		{% if post.language == page.language %}
			<li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
		{% endif %}
    {% endfor %}
  </ul>
</div>

<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>