.home {
.post-list {
    margin: 0;
	padding: 20px 40px;
    list-style: none;
    > li {
        padding-bottom: 30px;
        border-bottom: 1px solid $border-color;
    	margin-bottom: 30px;
    }
    .post-meta {
    	font-size: $small-font-size;
    	color: #666;
        margin: 0 20px;
        margin-bottom: .5em;
    }
    .post-excerpt {
        &, * {
            font-size: $small-font-size;
            line-height: $base-line-height;
            padding-top: 0;
            padding-bottom: 0;
	        color: #333;
        }
        code, pre, pre * {
            color: #666;
            background-color: #eee;
        }
        th {
            border-color: $border-color;
            background-color: $border-color;
        }
        a {
            color: $color-link-hover;
        }
        img {
            display: block;
            margin: 1em auto;
            max-height: 16em;
            opacity: .7;
            transition: opacity .3s;
            &:hover {
                opacity: 1;
            }
        }
        margin: 0 20px;
    }
    @include media-query($on-palm) {
		padding: 10px;
    }
}
}
