.post { 
    .post-header {
    	margin: 0 100px;
    	margin-bottom: 40px;
    	padding: 20px;
        .post-title {
        	font-size:40px;
        	font-weight: normal;
        	margin: 0 -100px;
        	@include media-query($on-palm) {
        		font-size: 34px;
        	}
        }
        .post-meta {
        	color:#999;
        	font-size:$small-font-size;
        	margin: 0 -100px;
        }
        @include media-query($on-palm) {
    		text-align:center;
    		margin-bottom: 10px;
    		padding: 10px;
        }
    }
    .post-content {
        color: #333;
        
        h1,h2,h3,h4,h5,h6 {
            color: #000;
        }
        
        h1, h2 {
        	margin-bottom: 10px;
            margin-top: 30px;
        }
        
        h1, h2, h3 {
            border-bottom: 1px solid #CCC;
        }
        
        pre {
        	margin: 0 -30px;
            @include media-query($on-palm) {
		        margin: 0 -10px;
            }
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin: 1em 0;
        }
        .image-container a {
            display: block;
            max-width: 100%;
        }

        .iframe-container {
            width: 80%;
            max-width: 640px;
            margin: 1em auto;
        }
        .iframe-container iframe {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
        }
    }
}

.left-image {
	margin-right: 10px;
	float: left;
	height: 160px;
	width: auto;
}	
.right-image {
	margin-left: 10px;
	float: right;
	height: 160px;
	width: auto;
}	

.yt-image-logo {
	position: relative;
	margin: 0 auto;
	display: block;
	top: 60px;
	left: -160px;
}
.yt-image {
	margin: 0 auto;
	display: block;
}
